# Base de données finale (développement)
DATABASE_URL=postgresql://lx_dev:password@localhost:5440/crm_dev

# Base de données de test
TEST_DATABASE_URL=postgresql://lx:password@localhost:5441/crm_test
