# Base de données dev (--dev)
DATABASE_URL=postgresql://lx_dev:root@localhost:5440/crm_dev

# Base de données test (défaut)
TEST_DATABASE_URL=postgresql://lx:root@localhost:5441/crm_root

SIRENE_API_KEY=6f4f98b5-2f0f-427a-8f98-b52f0f327af7